*.json
*.asv
*.o
*.err
*.dat
*.exe
*.mod
*.out
*.mat
*.jnl
*.log
*.DS_Store
*-blx.bib
*.aux
*.fdb_latexmk
*.fls
*.run.xml
*.synctex.gz
*.tex.bak
*.dSYM
*.jld2
*eps-converted-to*
